/* Fonts */
@font-face {
  font-family: "Adieu";
  src: url("../assets/font/Adieu-Bold.woff2") format("woff2"),
    url("../assets/font/Adieu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Base */
html {
  font-family: "Adieu", sans-serif;
  font-size: 10px;
  background-color: black;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 41.2rem;
}

/* Components */
.default {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hero-video {
  position: relative;
}

.video-player {
  width: 100%;
  pointer-events: none;
  -o-object-fit: cover;
  object-fit: cover;
}

.unmute-wrapper {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.unmute-mute {
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sound-mute-image {
  display: none;
}

.call-to-action-wrapper {
  background-image: url("../assets/gif/9-16_Image\ Frame\ :\ PATTERN_GIF_750x1333px.gif");
  background-size: cover;
  min-height: 66.4rem;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.call-to-action {
  width: 100%;
  max-width: 17.3rem;
  height: 6.9rem;
  border: solid 0.3rem black;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.call-to-action-text {
  line-height: 1.2;
}

.call-to-action-icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0.6rem;
}

.launch-date {
  display: block;
}

.launch-date-image {
  width: 100%;
}

/* Footer */
.footer {
  background-color: #000;
  width: 100%;
  padding: 4.6rem 1rem;
  text-align: center;
}

.footer-link {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
